include fixed/mixin
doctype html
html(lang="ar")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title نظافة الروّاد, أفضل شركة نظافة في المملكة 
    link(rel='icon', type='image/svg+xml', href='Images/favicon.svg')
    meta(name='description', content='الرواد كلين هي أفضل شركة نظافة في المملكة ، وتوفر أحدث انواع التقنيات الحديثة وأدوات التنظيف من أجل تقديم أفضل وأسرع خدمات التنظيف ، من خلال خبراء متخصصون في تقديم خدمات التنظيف وذات الجودة العالية.')
    meta(name='keywords', content='نظافة الرواد, الرواد كلين, تنظيف الشقق , تنظيف الكنب, تنظيف السجاد, تنظيف المساجد, جلي البلاط, تنظيف الفلل, تنظيف مجالس, تنظيف خزانات, تنظيف مسابح, تنظيف حدائق, تنظيف شركات, أعمال نظافة الفلل و القصور, نظافة المجمعات السكنية و التجارية, نظافة المجمعات السكنية و التجارية, نظافة المساجد, جلي البلاط و الرخام, تلميع السيراميك, إعادة السيراميك لحالته الطبيعية, تلميع واجهات الرخام والحجر والزجاج, نظافة المسابح وخزانات المياه مع التعقيم, الأسعار التّنافسيّة, أرخص الأسعار, قسم النظافة, Alrwadclean')
    link(rel='stylesheet', href='CSS/aos.css')
    link(rel='stylesheet', href='CSS/splide.min.css')
    link(rel='stylesheet', href='CSS/all.min.css')
    link(rel='stylesheet', href='CSS/style.css?version=1')
  body 

    +header 

    section.main-section#main-section
      //- .images
      //-   img(src='Images/main-section.webp', alt='الصورة الرئيسية')
      .container
        h1 نظافة الروّاد  <br/> الرواد كلين
        span تخصّصنا سرّ تميّزنا
        .box-container
          a.box(href='https://goo.gl/maps/RKLwcrZjpjAN44dF8', target='_blank')
            //- i.fa-solid.fa-map-location-dot
            |  نظافة الكنب والمنازل والسجاد

          .main-contact
            a(href="#contact", title="تواصل معنا") 
              | انقر للتواصل معنا 
              i(class="fa-solid fa-headset")
            //- .box
            //-   a(href='https://wa.me/+966507578098', target='_blank')
            //-     i.fa-brands.fa-whatsapp
            //-     p واتساب
            //- .box
            //-   a.phone(href='tel:+966507578098')
            //-     i.fa-solid.fa-phone-flip
            //-     p اتصل بنا
      a(href='#about-us', title="انزل للاسفل")
        i.fa-solid.fa-circle-chevron-down

    .separator

    section.about-us#about-us
      h2 مؤسسة نظافة الروّاد
        p نبذة في سطور...
      .container
        .text-holder(data-aos='fade-left')
          .box
            p خبرتنا في خدمات تعقيم المنازل ضد الفيروسات ونحن نفتخر باننا نستخدم أحدث المعدات في تنظيف ارضيات المنازل سواء بلاط او رخام وحوائط كذلك تقدم خدمات تنظيف الكتب والمجالس بالبخار وتنظيف الشقق بالبخار و تنظيف القصور بالرياض

    .separator

    +services-list

    .separator

    section.why-us#why-us
      h2 المزايا
      h3 اذا كنت تبحث عن الأفضل ننصحك بالتواصل معنا
        span لعدّة مزايا:
      .container(data-aos='fade-up')
        p أعمال نظافة الفلل و القصور
        p نظافة المجمعات السكنية و التجارية
        p نظافة المساجد
        p جلي البلاط و الرخام
        p تلميع السيراميك
        p إعادة السيراميك لحالته الطبيعية
        p تلميع واجهات الرخام والحجر والزجاج
        p نظافة المسابح وخزانات المياه مع التعقيم
        h3 وأمور أخرى مثل:
        p الأسعار التّنافسيّة
        p استخدام أحدث التقنيات
        p التعقيم الكامل
        p الخدمة السريعة
        p وغيرها الكثير

    .separator

    section.work-images
      .container
        #splide.splide
          .splide__track
            ul.splide__list
              li.splide__slide
                img(src="Images/work/1.webp" alt="اعمال نظافة الرواد")
              li.splide__slide
                img(src="Images/work/2.webp" alt="اعمال نظافة الرواد")
              li.splide__slide
                img(src="Images/work/3.webp" alt="اعمال نظافة الرواد")
              li.splide__slide
                img(src="Images/work/4.webp" alt="اعمال نظافة الرواد")
              li.splide__slide
                img(src="Images/work/5.webp" alt="اعمال نظافة الرواد")
              li.splide__slide
                img(src="Images/work/6.webp" alt="اعمال نظافة الرواد")

    .separator

    section.more 
      .box
        h4 من هم الرواد كلين
        p هي أفضل شركة نظافة في المملكة ، وتوفر أحدث انواع التقنيات الحديثة وأدوات التنظيف من أجل تقديم أفضل وأسرع خدمات التنظيف ، من خلال خبراء ومتخصصون في تقديم خدمات التنظيف وذات الجودة العالية ، قسم النظافة ، قسم النظافة التنظيف ، مع نظافة الرواد يجعل حياتك أسهل وأوفر ، مع قسم التنظيف سوف تحصلون علي حياة مريحة وسهله ، ويمكنكم من خلالها ممارسة بقية اهتماماتك بأسرتك وعائلتك ، لا داعي لتأجيل العزائم والمناسبات من أجل تنظيف البيت نحن نوُفر عنك المجهود ونجعل بيتك نظيف في أسرع وقت ، لدينا أفضل العمال المحترفين علي تقديم خدمات نظافة متميزة والقيام علي تنفيذ جميع رغباتك وأوامرك بمنتهي الدقة وعلي خلق والتزام وأمانة عالية يمكنكم الاطمئنان علي مقتنياتكم الثمينة, لدينا سابقة أعمال مشرفة للقصور والفل وكبري الشركات داخل المملكة العربية السعودية
      .box
        h4 نظافة الرواد
        p معنا أفضل خدمات التنظيف لدى مؤسسة نظافة الرواد خبراء في التنظيف وإزالة الدهون والأوساخ ويمكنكم الاعتماد علينا في جميع أعمال النظافة، كما أننا نمتلك خبراء في تنظيف المفروشات والكنب والسجاد وإزالة البقع والأتربة في أسرع وقت ممكن، ونوفر لكم في قسم النظافة أفضل خامات التنظيف للأرضيات والمفروشات، وخامات عالية ومستوردة ومخصصة لأغراض التنظيف وإزالة البقع، كما نوفر أفضل أنواع العطور الخاصة بالمفروشات ومعطرات الجو، لإضافة لمسة عطرة للمكان بعد الانتهاء من عملية التنظيف
      .box
        h4 الالتزام بالوقت
        p  لا يوجد لدينا في خدمات التنظيف أي تهاون في الوقت ملتزمون بالوقت الذي يحدده العميل ونقدم الخدمة السريعة والمضمونة ذات الجودة العالية والمرتفعة، مهما كانت المساحة مهما كانت صعوبة البقع، مهما كانت حجم المشكلة التنظيف لدينا حلول للتنظيف فعالة وأكيدة متعددة وشاملة نقدم خدمات تنظيف فلل – تنظيف مساجد – تنظيف شقق – تنظيف مجالس - تنظيف خزانات – تنظيف سجاد – تنظيف مسابح – تنظيف حدائق – تنظيف شركات ، مما يجعلنا الاختيار الأول للعملاء في جميع فروعنا في الرياض والمدينة المنورة ونغطي دائما المملكة العربية السعودية شاملة بدون منافس وبدون بديل تميزنا من أجلكم ونسعى لنظل على قمة شركات التنظيف
      .box
        h4 أرخص الأسعار
        p  أرخص الأسعار تجدها لدينا في نظافة الرواد, لا داعي للقلق بعد اليوم من تكاليف خدمات التنظيف المرتفعة والمبالغ فيها، ونوفر خدمات تنظيف بأقل الأسعار تناسب مع الجميع
      .box
        h4 قسم النظافة
        p  في جميع أنحاء المملكة العربية السعودية نعدكم بالأفضل من خلال تجربة خدماتنا، ونحن على ثقة كبيرة بأنها سوف تكون تجربة ناجحة ودائمة، فنحن الأفضل على الإطلاق في تقديم خدمات التنظيف المتميزة والجادة، ونمتلك جميع الإمكانيات مما يجعلنا مفضلون لدي العملاء، فالتميز عنوان لنا في مؤسسة نظافة الرواد في النظافة
      //- .box
      //-   h4 من هم الرواد كلين
      //-   p 


    .separator

    +contact

    .separator

    +footer 

    script(src='script/script.js?version=1')
    script(src='script/aos.js')
    script.
      AOS.init({
        once: true,
        duration: 1000,
      });
    script(src='script/splide.min.js')
    script(src="script/splide.custom.js") 
      
